/* GLOBAL */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5EDED;
}

h1 {
  color: #3C3633;
  font-size: 3rem;
  font-weight: bold;
}

p {
  color: #3C3633;
  font-size: 0.8rem;
}

/* HEADER */
header {
  background-color: #f4ead2;
  background-size: cover;
  color: #3C3633;
}

/* NAVBAR */
.navbar {
  color: #F5EDED;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(244, 234, 210, 0);
  border-bottom: none;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar.scrolled {
  background-color: #7fa1c3d2;
}

.brand-name {
  color: #F5EDED;
  font-size: 24px;
  font-weight: bold;
}

.brand-name:hover {
  color: #b24a3b;
}

.custom-nav-link {
  padding: 10px 20px !important;
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #F5EDED;
}

.navbar-nav .nav-link:hover {
  color: #FF7D29;
}

.nav-link.active {
  color: #FF7D29 !important;
  border-bottom: 2px solid #FF7D29;
}

/* HERO SECTION */
.hero-section {
  background-image: url('../images/whale-shark.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-top: 0; 
  margin-bottom: 100px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 80rem;
}

.hero-content h1 {
  color: #FF7D29;
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  color: #F5EDED;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
}

.custom-btn {
  background-color: #b24a3b; 
  color: #f4ead2; 
  border: none; 
}

.custom-btn:hover {
  background-color: #e06552; /* Change to a darker shade on hover */
  color: #f4ead2; /* Text color */
}

/* ABOUT */
.about-section {
  color: #3C3633;
  margin: 0 100px;
  margin-bottom: 100px;
}

.about-section h3 {
  font-size: 3rem;
  font-weight: 600;
}

.about-section p {
  font-size: 1.2rem;
  font-weight: 200;
}

.about-content {
  padding: 0 100px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-divider {
  width: 1px;
  background-color: lightgray;
}

/* TRAVEL PARTNERS */
.partners-container {
  display: flex;
  justify-content: center;
}

.partners-title h3 {
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: #F5EDED;
  color: #3C3633;
  margin-top: 80px;
  margin-bottom: 0 !important;
  padding: 15px;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
}

.p-footer {
  color: #3C3633;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.social-links {
  margin: 10px;
  text-align: center;
}

.social-links a {
  margin: 0 15px;
  color: #3C3633;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  color: #b24a3b;
  transform: scale(1.2);
}

.social-icon {
  font-size: 24px; /* Adjust icon size */
  margin: 0 10px; /* Spacing between icons */
  color: #3C3633; /* Icon color */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #b24a3b; /* Change color on hover */
}

/* Remove any extra decorations, dashes, or borders */
.social-icon i {
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}